<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{data.title}}</title>
    <link href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet' />
    <link href='css/styles.css' rel='stylesheet' />
  </head>
  <body class="bg-gray-200 flex flex-col h-screen">
    <div id='header' class="p-6 bg-blue-500 text-white text-center font-bold text-xl">Chat Room</div>
    <div id='chatting_box' class="p-6 flex-grow overflow-auto bg-white rounded shadow mb-6"></div>
    <form id='chat_form' class="flex p-6 bg-white rounded shadow">
      <input id='chat_message_input' class="flex-grow p-2 rounded-l shadow" placeholder='메세지를 입력해주세요...' />
      <button type='submit' class="p-2 bg-blue-500 text-white rounded-r shadow">보내기</button>
    </form>

    <script src='https://cdn.socket.io/3.1.3/socket.io.min.js' integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh' crossorigin='anonymous'></script>
    <script src='js/scripts.js'></script>
  </body>
</html>