<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>랜덤채팅접속</title>
    <link
      href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='css/styles.css' />
  </head>
  <body class='bg-gray-200 flex items-center justify-center h-screen'>
    <div class='bg-white p-6 rounded shadow'>
      <form action='/chat' method='GET' class='flex flex-col'>
        <label for='nickname' class='mb-2 font-bold text-lg'>사용할 닉네임:</label>
        <input
          type='text'
          id='nickname'
          name='nickname'
          required
          class='mb-4 p-2 border rounded shadow'
        />
        <button
          type='submit'
          class='p-2 bg-blue-500 text-white rounded shadow'
        >Join</button>
      </form>
    </div>
  </body>
</html>